.body {
  position: fixed;
  top: 70px;
  background: #F5B0CB;
  width: 100%;
  height: 100%;
}

.body .leftbar {
  position: fixed;
  left: 0px;
  width: 10%;
  height: 100%;
  background: #83BD75;
}

.body .rightbar {
  position: fixed;
  right: 0px;
  width: 10%;
  height: 100%;
  background: #83BD75;
}