.body {
  position: fixed;
  top: 70px;
  background: grey;
  width: 100%;
  height: 100%;
}

.body .leftbar {
  float: left;
  width: 10%;
  height: 675px;
  background: gainsboro;
}

.body .rightbar {
  float: right;
  
  width: 10%;
  height: 670px;
  background: gainsboro;
}