@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@300&display=swap');

.layout * {
  box-sizing: border-box;
}

.layout {
  position: relative;
  height: 100%;
}

body, height {
  height: 100%;
}

header {
  background: #14C38E;
  border: thick double black;
  border-left: none;
  border-right: none;
  width: 100%;
  height: 90px;
  line-height: 80px;
  text-align: center;
  font-size: 36px;
  font-family: 'Noto Serif KR', serif;
}

main {
  background: #E3FCBF;
  position: relative;
  position: absolute;
  height: 100%;
}

aside {
  background: #00FFAB;
  height: 100%;
}

main aside:first-child {
  border-right: 1px solid black;
  position: absolute;
  left: 0;
  top: 0;
  width: 10%;
  height: 100%;
}

main aside:last-child {
  border-left: 1px solid black;
  position: absolute;
  right: 0;
  top: 0;
  width: 10%;
  height: 100%;
}

