@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@300&display=swap');

.layout {
  box-sizing: border-box;
}

header {
  border: thick double black;
  top: 0px;
  width: 100%;
  height: 90px;
  line-height: 90px;
  text-align: center;
  background: #14C38E;
  font-size: 5vh;
  font-family: 'Noto Serif KR', serif;
}

aside {
  top: 90px;
  background: #00FFAB;
  border: 0px, 1px solid black;
}

main aside:first-child {
  position: absolute;
  left: 0;
  width: 10%;
  height: 91.9%;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 91.9vh;
  background: #E3FCBF;
}

main aside:last-child {
  position: absolute;
  right: 0;
  width: 10%;
  height: 91.9%;
}

