header {
  border: 1px solid black;
  width: 100%;
  height: 70px;
  
  line-height: 70px;
  text-align: center;
}

main {
}

aside {
  position: relative;
  top: 70px;
}

main aside:first-child {
  position: absolute;
  left: 0;
  width: 10%;
  height: 100%;
  background: red;
}

section {
  
}

main aside:last-child {
  position: absolute;
  right: 0;
  width: 10%;
  height: 100%;
  background: blueviolet;
}


