header {
  border: 1px solid black;
  width: 100%;
  height: 70px;
  line-height: 70px;
  text-align: center;
}

main {
  height: 100%;
  display: flex;
  place-items: center;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

aside {
  
  
}

main aside:first-child {
  position: absolute;
  left: 0;
  width: 10%;
  height: 90%;
  background: red;
}

section {
  padding: 3rem;
  border-radius: 1rem;
  background: #ff6e6c;
}

main aside:last-child {
  position: absolute;
  right: 0;
  width: 10%;
  height: 90%;
  background: blueviolet;
}


