.modal * {
  box-sizing: border-box;
}

.modal {
  border: 2px solid black;
  border-radius: 5px;
  background: #eee;
  position: fixed;
  width: 50%;
  height: 70%;
  left: 25%;
  top: 15%;
}

img {
  width: 100%;
  margin: 20%;
}

td {
  text-align: center;
}
