@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100&display=swap');

.section {
  border: 1px solid black;
  position: relative;
  width: 60%;
  left: 20%;
  font-family: 'Noto Sans KR', sans-serif;
}