@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100&display=swap');

.section {
  box-sizing: border-box;
  border: 1px dashed black;
  position: relative;
  width: 70%;
  left: 15%;
  padding: 30px;
  font-family: 'Noto Sans KR', sans-serif;
}
.label{
  background-color: #888;
  width: 15vh;
  height: 25vh;
  margin: 0px;
}

.booktitle {
  position: absolute;
  text-align: center;
  width: 15vh;
  margin-top: 3px;
  color: white;
}

.photo {
  border: 1px solid black;
  position: relative;
  display: inline-block;
  width: 15vh;
  height: 20vh;
}
